* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    margin-right: 30px; /* Ajusta el valor según tus necesidades */
}

/* Estilo Header */
header {
    margin: 150px;
    /*padding: 15px;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.anclas {
    justify-content: flex-end;
}

a {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(54, 54, 54);
    padding: 10px;
}

.imgheader {
    width: 100px;
}

/* Estilo Seccion 1 */

.seccion1 {
    margin: 15px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.textosec1 {
    align-items: center;
    justify-items: flex-end;
    padding: 15px;
    margin: auto;
    color: rgb(37, 37, 37);
}


.sec1a {
    flex-basis: 40%;
    font-size: 55px;

}

.sec1b {
    font-family: Arial;
    flex-basis: 60%;
    border-left: 2px solid #515050;
    padding: 20px;
}

.psec1b {
    margin-top: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
    font-size: small;
}

.imagensec1 {
    width: 900px;
    justify-content: flex-end;
}

.iconseccion1 {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    position: relative;
    bottom: 70px;
    left: 600px;
}

.textosec1 {
    display: flex;
}


/* ESTILO SECCION 2 */

.seccion2 {
    margin-top: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 10px;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


/*.textoseccion2 {
     me falta mover todo el texto hacia la izquierda }*/


.h2sec2 {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    color: rgb(37, 37, 37);
}

.psec2a {
    padding: 20px;
    color: grey;
}

.mundo {
    align-items: center;
    margin-top: 15px;
    padding: 20px;
}

.psec2b {
    padding: 20px;
}

.vertical1 {
    margin-left: -40px;
    width: 400px;
}

/* ESTILO SECCION 3 */

.seccion3 {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 10px;
}

/* IMAGENES SECCION 3 */
.vertical2 {
    width: 300px;
    margin-bottom: -30px;
    margin-left: -45px;
}

.horizontal1 {
    width: 500px;
    margin-top: -30px;
    margin-right: -45px;
}

/* TEXTOS SECCION 3 */

.caja1sec3 {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.caja2sec3 {
    margin: 10px;
    display: flex;
    justify-content: space-evenly
}

.textocaja1sec3 {
    width: 40%;
}

.h2sec3 {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    color: rgb(37, 37, 37);
}

.p1asec3 {

    color: grey;
}

.p1bsec3 {
    color: rgb(37, 37, 37);
    margin: 30px 0px;
}

.hr1 {
    width: 50%;
    height: 2px;
    background-color: gray;
}

.textocaja2sec3 {
    width: 20%;
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.h3sec3 {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    color: rgb(37, 37, 37);
}

.p2asec3 {

    color: grey;
}

.p2bsec3 {
    color: rgb(37, 37, 37);
    padding: 20px;
}

.hr2 {
    width: 50%;
    height: 2px;
    background-color: gray;
}

/* ESTILO SECCION 4 */

.seccion4 {
    padding: 10px;
}

.imgcv {
    width: 200px;
}

.cajaimg {
    box-shadow: -20px -25px 0px gray;
}

.caja1sec4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.datoscv {
    padding: 15px;
    margin: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.h4sec4 {
    font-size: 30px;
    margin: 10px;
}

.h6sec4 {
    color: #515050;
    font-size: 15px;
    margin: 10px;
}

.icons {
    margin: 10px;
    display: flex;
    justify-content: left;
}

.fb {
    color: rgb(59, 59, 247);
    padding: 5px;
}

.tw {
    color: rgb(0, 162, 255);
    padding: 5px;
}

.go {
    color: rgb(182, 28, 28);
    padding: 5px;
}

.textocaja1sec4 {
    padding: 20px;
    color: #908e8e;
    text-align: center;
    font-size: 19px;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}

/* ESTILO SECCION 5 */

.seccion5 {
    padding: 10px;
    display: flex;
}

.cajota1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex-wrap: wrap;
    width: 50%;

}

.cajota1a {
    margin: 15px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.h3cajota1a {
    padding: 10px;
    font-size: 30px;
}

.pcajota1a {
    padding: 10px;
    color: #908e8e;
}

.cajota1b {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 180px;
    padding: 10px;
}

.izquierda {
    background-color: #d3d3d3;
    color: #939292;
    width: 80px;
    height: 40px;
}

.derecha {
    align-content: center;
    background-color: black;
    color: white;
    width: 80px;
    height: 40px;

}

.cajota2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex-wrap: wrap;
    width: 50%;
}

.cajota2a {
    margin: 15px;
    display: flex;
}

.textocajota2a {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.h3cajota2a {
    padding: 10px;
    font-size: 25px;
}

.pcajota2a {
    padding: 10px;
    color: #908e8e;
}

.cajota2b {
    margin: 15px;
    display: flex;
}

.textocajota2b {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.h3cajota2b {
    padding: 10px;
    font-size: 25px;
}

.pcajota2b {
    padding: 10px;
    color: #908e8e;
}

.vertical3 {
    width: 130px;
}

.vertical4 {
    width: 130px;
}

/* ESTILO FOOTER */

footer {
    padding: 10px;
    background-color: #3a3939;
    color: beige;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logopng {
    width: 100px;
}

li {
    list-style: none;
}

.aul {
    color: beige;
}

.li {
    font-size: 12px;
    padding: 10px;
}

.subs {
    color: beige;
    font-size: 12px;
    padding: 10px;
}

textarea {
    height: 20px;
}

.c {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.c1 {
    display: flex;
    align-items: center;
}

.button {
    margin: 10px;
}

.iconosfooter {
    display: flex;
    justify-content: flex-start;
}

.twf {
    padding: 10px;
}

.fbf {
    padding: 10px;
}